{% extends 'base.html' %}


{% block content %}
<!doctype html>
<html lang="en">
  <head>
  <title>Sell</title>
<style>
center  {
  text-align: center;
}


</style>
<head>
{% block title %}About Us{% endblock %}
</head>
  <body>



<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
<center><a  class="primary-btn">ABOUT US</a></center>
<br/><br/><br/><br/><br/>



<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<center>
<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                    <h2>
                        <p class="aboutus-text">Welcome to Book Katta, your number one source for all Books. We're dedicated to giving you the very best of Our Services, with a focus on Seconf hand Books,New Books  And Selling Book Option</p>
                        <p class="aboutus-text"> I hope you enjoy our products as much we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
                        <p class="aboutus-text">Your Sincerely,</p>
                        <p class="aboutus-text">Anil Thapa</p>

                        </h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="https://source.unsplash.com/289x453/?Books,Library" alt="">
                    </div>
                </div>

                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">

                                    <h4>*Work with heart*</h4>
                                    <p>I'm a great believer in luck, and I find the harder I work, the more I have of it.</p>
                                    <p>Thinking is the hardest work there is, which is probably the reason so few engage in it. ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                    <h4>*Reliable services*</h4>
                                    <p>Our Moto</p>
                                    <p>Instead Of focusing On Competition ,Focus On Customer</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                    <h4>*Great support*</h4>
                                   <p>“Don't try to tell the customer what he wants. ...</p>
                                   <p>Just having satisfied customers isn't good enough anymore. ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </center>
    <br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>
</body>
</html>
    {% endblock %}